# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
build/
.build/

# Go
backend/zenatc-backend
backend/zenatc

# macOS
.DS_Store
